.input__container {
  margin-top: 16px;

  input {
    display: flex;
    width: 356px;
    height: 48px;
    border-radius: 4px;

    border: 1px solid #e5e5e5e5;
  }

  &:hover {
    border: 1px solid #c4c4c4;
  }

  input::-webkit-input-placeholder {
    color: #343434;
    padding-left: 16px;
  }

  input:focus {
    outline: none !important;
    border-color: #45e6bf;
  }
}
