.input__container {
  margin-top: 32px;
  align-content: center;

  input {
    font: 400 1rem "Roboto";
    font-size: 16px;
    font-style: normal;

    border-radius: 4px;

    color: #343434;

    border: 1px solid #e5e5e5e5;

    &:hover {
      border: 1px solid #c4c4c4;
    }
  }
}
input:focus {
  outline: none !important;
  border-color: #45e6bf;
}
