
.img__logo {
  width: 63px;
  height: 46px;
}

.header__logo {
  display: flex;
  width: 100%;
  margin-left: 80px;
  margin-top: 42px;
  //align-items: center;
  justify-content: space-between;
}

.header__menu {
  margin-right: 91px;
  //align-items: center;

  a {
    padding: 0 0.5rem;
    color: #ffffff;
    font-size: 16px;
    font: 500 1rem "Roboto";

    &:hover {
      text-decoration: underline;
    }
  }
}
