.case__item__container {
  margin-bottom: 80px;

  .case__title {
    font: 700 1rem "Roboto";
    font-size: normal;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .case__description__container {
    padding-right: 100px;
  }

  .case__description {
    font: 400 1rem "Roboto";
    font-size: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .case__button {
    font: 500 1rem "Roboto";
    font-size: 14px;
    border-color: #e5e5e5;
    border-radius: 4px;
    background-color: #ffffff;
    width: 132px;
    height: 40px;

    &:hover {
      border-color: #c4c4c4;
    }
  }

  div {
    margin-top: 16px;
  }
}
