.case__item__container {
  margin-bottom: 80px;

  .case__title {
    font: 700 1rem "Roboto";
    font-size: normal;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .case__description__container {
    padding-right: 100px;
    padding-bottom: 16px;
  }

  .case__description {
    font: 400 1rem "Roboto";
    font-size: normal;
    font-size: 18px;
    line-height: 30px;
  }

  button {
    border: 1px solid #c4c4c4;
    font: 500 1rem "Roboto";
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 24px;
    position: relative;
    vertical-align: middle;
    background-color: #ffffff;

    &:hover {
      border: 1px solid #343434;
    }
  }

  button img {
    position: relative;
    vertical-align: middle;
    padding-left: 8px;
  }

  div {
    margin-top: 16px;
  }
}
